# Build time
ipython
mypy
piptools-sync
pre-commit
ruff
shellcheck-py
twine
uv
validate-pyproject[all]
yamllint

# Runtime
# TODO figure out how to install these from pyproject.toml
cdktf
cdktf-cdktf-provider-null
typed-argument-parser
