# Build time
ipython
mypy
shellcheck-py
piptools-sync
pre-commit
pytest
ruff
twine
uv

# Runtime
# TODO figure out how to install these from pyproject.toml
cdktf
cdktf-cdktf-provider-null
typed-argument-parser
