# pre-commit Hooks
codespell>=2.3  # For codespell inline ignore comment support
git+https://github.com/AleksaC/hadolint-py.git
mypy
pre-commit
ruff
shellcheck-py
shfmt-py
uv
validate-pyproject[all]
yamllint

# Build-Time (Not Part of pre-commit)
build
cdktf-cdktf-provider-cloudflare
cdktf-cdktf-provider-github
cdktf-cdktf-provider-null
ipython
pytest>=8  # Pin to keep recent
twine

# Runtime
# TODO figure out how to install these from pyproject.toml
cdktf
typed-argument-parser
