defaults:
    run:
        shell: bash --noprofile --norc -o errexit -o nounset -o pipefail -o xtrace {0}
env:
    ALLOWEDFLARE_EMAIL: person@emailprovider.example
    ALLOWEDFLARE_PRIVATE_DOMAIN: organization.example
    CLOUDFLARE_ACCOUNT_ID: 0123456789abcdef0123456789abcdef00
    CLOUDFLARE_ZONE_ID: 0123456789abcdef0123456789abcdef01
    INSH_TF: tofu
jobs:
    check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - run: bash includes.sh forceready
            - run: npm install --frozen-lockfile
            - run: source includes.sh && uv venv && ups

            - run: |
                  .venv/bin/cookiecutter \
                      --config-file .cookiecutter.yaml \
                      --no-input \
                      --overwrite-if-exists \
                      .
                  git update-index --refresh
                  git diff-index --quiet "$(git write-tree)" || (
                      git status
                      git -c color.ui=always diff
                      echo Cookiecutter introduced changes
                      exit 1
                  )

            - run: |
                  source includes.sh \
                  && a \
                  && pca --color always --show-diff-on-failure --verbose . \
                  && pctam mypy

            - run: |
                  source includes.sh \
                  && a \
                  && hti demo \
                  && tofu -chdir=deploys/demo/terraform validate

            - run: |
                  source includes.sh \
                  && a \
                  && just test

            - run: |
                  source includes.sh \
                  && a \
                  && python -m build \
                  && python -m twine check --strict dist/*
    summarize:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - run: bash includes.sh summarize

on: # yamllint disable-line rule:truthy
    pull_request:
    push:
        branches:
            - main
    workflow_dispatch:
run-name: Checking on behalf of ${{ github.actor }}
