name: Check
run-name: Checking on behalf of ${{ github.actor }}
on: # yamllint disable-line rule:truthy
    - pull_request
jobs:
    check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v4
            - uses: actions/cache@v3
              with:
                  path: ~/.cache/pip
                  key: |
                      ${{ runner.os }}-pip
                      ${{ hashFiles('pyproject.toml') }}
                      ${{ hashFiles('requirements.txt') }}
                  restore-keys: ${{ runner.os }}-pip
            - uses: actions/cache@v3
              with:
                  path: ~/.cache/pre-commit
                  key: |
                      ${{ runner.os }}-pre-commit
                      ${{ hashFiles('.pre-commit-config.yaml') }}
                  restore-keys: ${{ runner.os }}-pre-commit
            - run: pip install --upgrade pip uv && uv pip sync requirements.txt
              env:
                  PIP_PROGRESS_BAR: 'off'
            - run: source includes.sh && pcam --color always --show-diff-on-failure
            - run: terraform -chdir=deploys/demo/terraform init
            - run: terraform -chdir=deploys/demo/terraform validate
