env:
    ALLOWEDFLARE_EMAILS="['person@emailprovider.example']"
    ALLOWEDFLARE_PRIVATE_DOMAIN=organization.example
    CLOUDFLARE_ACCOUNT_ID=0123456789abcdef0123456789abcdef00
    CLOUDFLARE_ZONE_ID=0123456789abcdef0123456789abcdef01
name: Check
jobs:
    check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - run: source includes.sh && ghas
            - uses: actions/setup-python@v5
            - uses: actions/cache@v4
              with:
                  path: ~/.cache/pip
                  key: |
                      ${{ runner.os }}-pip
                      ${{ hashFiles('pyproject.toml') }}
                      ${{ hashFiles('requirements.txt') }}
                  restore-keys: ${{ runner.os }}-pip
            - uses: actions/cache@v4
              with:
                  path: ~/.cache/pre-commit
                  key: |
                      ${{ runner.os }}-pre-commit
                      ${{ hashFiles('.pre-commit-config.yaml') }}
                  restore-keys: ${{ runner.os }}-pre-commit
            - run: pip install --upgrade pip uv && uv venv && uv pip sync requirements.txt
              env:
                  PIP_PROGRESS_BAR: 'off'
            - run: >
                  source includes.sh &&
                  a &&
                  pre-commit try-repo . \
                      --all-files \
                      --color always \
                      --hook-stage manual \
                      --show-diff-on-failure \
                      --verbose
            - run: terraform -chdir=deploys/demo/terraform init
            - run: terraform -chdir=deploys/demo/terraform validate
on: # yamllint disable-line rule:truthy
    pull_request:
    push:
        branches:
            - main
    workflow_dispatch:
run-name: Checking on behalf of ${{ github.actor }}
