env:
    ALLOWEDFLARE_EMAILS: "['person@emailprovider.example']"
    ALLOWEDFLARE_PRIVATE_DOMAIN: organization.example
    CLOUDFLARE_ACCOUNT_ID: 0123456789abcdef0123456789abcdef00
    CLOUDFLARE_ZONE_ID: 0123456789abcdef0123456789abcdef01
jobs:
    check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/checkout@v4
              with:
                  path: asdf
                  repository: asdf-vm/asdf
            - run: mkdir "$HOME/code" && ln -s "$(realpath asdf)" "$HOME/code/asdf"

            - uses: actions/setup-node@v4
              with:
                  cache: npm
                  node-version-file: .nvmrc
            - run: npm install --frozen-lockfile

            - uses: actions/setup-python@v5
              with:
                  python-version-file: .python-version

            - run: pip install --upgrade pip setuptools uv
              env:
                  PIP_PROGRESS_BAR: 'off'
            - run: uv venv && source includes.sh && a && ups

            - run: |
                  source includes.sh \
                  && a \
                  && asdf plugin-add tenv https://github.com/tofuutils/asdf-tenv \
                  && asdf install tenv latest \
                  && asdf global tenv latest \
                  && tenv tofu install

            - run: |
                  .venv/bin/cookiecutter --config-file .cookiecutter.yaml --no-input --overwrite-if-exists .
                  git diff-index --quiet HEAD -- || (
                      git -c color.ui=always diff
                      echo Cookiecutter introduced changes
                      exit 1
                  )

            - run: |
                  source includes.sh \
                  && a \
                  && INSH_TF=tofu pcta \
                  && pctam mypy

            - run: source includes.sh hti demo && tofu -chdir=deploys/demo/terraform validate

            - run: source includes.sh && a && python -m build
    summarize:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - run: source includes.sh summarize

on: # yamllint disable-line rule:truthy
    pull_request:
    push:
        branches:
            - main
    workflow_dispatch:
run-name: Checking on behalf of ${{ github.actor }}
